﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Net" %>
<%@ Import Namespace="System.Web.Script.Serialization" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/C#" runat="server">
        protected void Page_Load(object sender, EventArgs e)
        {
            var url = "https://android.googleapis.com/gcm/send/enx6FVk55Q0:APA91bGRCfvkD-ZRscJGU7xymSV8BawprTpzjHk74A54xm_9FcX_chUeYEt_Pw-PUUR5BoTbdGmKLLFDE5d0r04d91QUJpyyaB-sH4-aYF6j1te-trvbHsOCOgNxPzJsthIXcYEU3_0c";
            
            //string deviceId = "enx6FVk55Q0:APA91bGRCfvkD-ZRscJGU7x…R5BoTbdGmKLLFDE5d0r04d91QUJpyyaB-sH4-aYF6j1te-trvbHsOCOgNxPzJsthIXcYEU3_0c";
            var deviceId = url.Split('/').Last();
            Response.Write(SendNotification(deviceId, "hello " + DateTime.Now));
        }

        public string SendNotification(string deviceId, string message)
        {
            string SERVER_API_KEY = "AAAASGWHfrg:APA91bH6ylFksZi2FZshrqqNPzw_Ps-WA7VT0GZZtQJes3cG1A9JYD-tEJJg1SMeffinRmuRyj26rH8OFiIs7JOQNF5wtwthTeFmO7NXRdG53OzVxt1e7PYN5XaoQNrbIDyjjm5b3Ats";
            var SENDER_ID = "310941023928";
            var value = message;
            WebRequest tRequest;
            tRequest = WebRequest.Create("https://android.googleapis.com/gcm/send");
            tRequest.Method = "post";
            tRequest.ContentType = " application/x-www-form-urlencoded;charset=UTF-8";
            tRequest.Headers.Add(string.Format("Authorization: key={0}", SERVER_API_KEY));

            tRequest.Headers.Add(string.Format("Sender: id={0}", SENDER_ID));

            string postData = "collapse_key=score_update&time_to_live=108&delay_while_idle=1&data.message=" + value + "&data.time=" + System.DateTime.Now.ToString() + "&registration_id=" + deviceId + "";
            Console.WriteLine(postData);
            Byte[] byteArray = Encoding.UTF8.GetBytes(postData);
            tRequest.ContentLength = byteArray.Length;

            Stream dataStream = tRequest.GetRequestStream();
            dataStream.Write(byteArray, 0, byteArray.Length);
            dataStream.Close();

            WebResponse tResponse = tRequest.GetResponse();

            dataStream = tResponse.GetResponseStream();

            StreamReader tReader = new StreamReader(dataStream);

            String sResponseFromServer = tReader.ReadToEnd();


            tReader.Close();
            dataStream.Close();
            tResponse.Close();
            return sResponseFromServer;
        }


    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
