﻿@model BayiServices.CategoryFor3rdParty[]
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
Length: @Model.Length